html
  head
    title Visitantes recurrentes
  body
    table
        tr
            td Id
            td Name
            td Visits
        each visitor in visitors
            tr
                td #{visitor._id}
                td #{visitor.name}
                td #{visitor.count}