html
  head
    title Visitantes recurrentes
  body
    table
        tbody
            each visitor in visitors
                tr
                    td #{visitor._id}
                    td #{visitor.name}
                    td #{visitor.count}