html
  head
    title Visitantes recurrentes
  body
    table
        thead
            td Id
            td Name
            td Visits
        tbody
            each visitor in visitors
                tr
                    td #{visitor._id}
                    td #{visitor.name}
                    td #{visitor.count}