html
  head
    title Visitantes recurrentes
  body
    table
        each visitor in visitors
            tr
                td #{visitor._id}
                td #{visitor.name}
                td #{visitor.count}