html
  head
    title Visitantes recurrentes
  body
    table.table
        thead
            tr
                th Id
                th Name
                th Visits
        tbody
            each visitor in visitors
                tr
                    td #{visitor._id}
                    td #{visitor.name}
                    td #{visitor.count}